.body {
  width: 100%;
}

#about {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to top, #00aee9, #00e4d5);
  color: white;
}

#description {
  text-align: center;
  font-size: 2.5rem;
  width: 60%;
  padding-bottom: 5rem;
}

#description h1 {
  padding: 3rem;
}

.skills {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 2rem;
  margin-bottom: 15rem;
}

.set {
  background: linear-gradient(to top right, #f47340, #ef2f88);
  border-radius: 50%;
  width: 20rem;
  aspect-ratio: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 1.8;
}
