#projects-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-title {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2.5rem;
  background: radial-gradient(circle, white, rgb(219, 219, 219));
  padding: 5rem;
  margin: 0 2rem;
  transform: translateY(-50%);
  border-radius: 30px;
  box-shadow: 0px 5px 5px grey;
}

.project-title h5 {
  width: 70%;
  padding-top: 2rem;
}

#projects {
  height: 24rem;
  width: 100%;
  margin-bottom: 5rem;
  position: relative;
}

.projects-box {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  width: auto;
  white-space: nowrap;
  transition: 0.5s ease;
  padding: 0 2.5rem;
  overflow: hidden;
}

.project {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 30rem;
  min-height: 20rem;
  width: 30rem;
  height: 20rem;
  background-color: rgba(128, 128, 128, 0.5);
  border-radius: 30px;
  box-shadow: 0px 0px 5px grey;
  margin: 2rem;
  color: white;
  font-size: 3rem;
  transition: 0.5s all ease;
  position: relative;
  overflow: hidden;
  background-position: center;
  background-size: cover;
}

.project:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 10px black;
}

.links {
  background: linear-gradient(to top, #00aee9, #00e4d5);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.9;
  transform: translateY(-100%);
  transition: 0.5s all ease;
}

.project:hover .links {
  transform: translateY(0);
}

.links a {
  margin: 2rem;
  border: none;
  background: none;
  font-size: 2rem;
  cursor: pointer;
  font-weight: bold;
  color: white;
  padding: 1.5rem;
  border-radius: 10px;
  transition: 0.5s all ease;
  text-decoration: none;
}

.links a:hover {
  color: #f15164;
}

#left-arrow {
  left: 0;
}
#right-arrow {
  right: 0rem;
}

#left-arrow,
#right-arrow {
  position: absolute;
  padding: 0.5rem;
  font-size: 6rem;
  background: rgba(128, 128, 128, 0.4);
  border: none;
  height: 100%;
  z-index: 10;
  border-radius: 20px;
  cursor: pointer;
  color: #00cbde;
}
